<html>
 <head>
 	<meta charset="utf-8">
 	<title>Todos</title>
 </head>
 <body>

 <ul>
	 <li><a href="/todos">Todo List</a></li>
	 <li><a href="/new_todo">New Task</a></li>	
	 <% if session[:user] == nil %>	 
	 	<li><a href="/login">Login</a></li>
	 <% else %>	
	 	<li><a href="/logout">Logout</a></li>
	<% end %>	
 </ul>

 <%= yield %>

 </body>
</html>	